{% extends "template.twig" %}

{% block main %}
    <div class="container-fluid">
        <h2>Junior Teams</h2>
        <div class="row">
            <div class="col-sm-2">
                <a href="/img/juniors.jpg" target="_blank">
                    <img class="img-thumbnail mx-lg-2 d-block" src="/img/juniors.jpg"
                         alt="Trefelin Juniors team photo"/>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/img/14s.jpg" target="_blank">
                    <img class="img-thumbnail mx-lg-2 d-block" src="/img/14s.jpg"
                         alt="Trefelin juniors team photo"/>
                </a>
            </div>
        </div>
        <hr/>
            <h3>Under 6s</h3>
            <h4>Manager: John Hall - 07432310907</h4>

        <hr/>

            <h3>Under 9s</h3>
            <h4>Manager: Ross Millon - 07940203554</h4>
            <h4>Manager: Daniel Wilyeo - 07931705992</h4>

        <hr/>

            <h3>Under 14s</h3>
            <h4>Manager: Gareth Edwards - 07813879996</h4>
            <h4>Manager: Brendon Edwards - 07429706462</h4>

    </div>
{% endblock %}