<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35128972-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-35128972-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Trefelin Boys and Girls Club - Welsh League Football Club in Port Talbot</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active btn btn-primary my-2" href="{{ '/' }}">Home</a>
                <a class="nav-link btn btn-primary my-2" href="/first-team">First Team</a>
                <a class="nav-link btn btn-primary my-2" href="/reserve-team">Reserve Team</a>
                <a class="nav-link btn btn-primary my-2" href="/youth-team">Youth Team</a>
                <a class="nav-link btn btn-primary my-2" href="/junior-team">Junior Team</a>
                <a class="nav-link btn btn-primary my-2" target="_blank" href="https://macronstoreneath.co.uk/shop/club-shops/trefelin-bgc/">Club Shop</a>
                <a class="nav-link btn btn-primary my-2" href="/news">News</a>
                <a class="nav-link btn btn-primary my-2" href="/contact">Contact</a>
            </nav>
            <h3 class="masthead-brand">
                <img class="circle" src="img/trefelin-crest.png" class="img-fluid text-center"
                     alt="Trefelin BGC Logo EST 1984"/>
            </h3>
        </div>
    </header>
    <hr/>
    <main role="main">
        {% block main %} {% endblock %}
    </main>

    <footer class="container align-content-center">
        <p class="text-center">&copy; Trefelin Boys & Girls Club <?= date('Y'); ?> - Registered Charity Number
            519558</p>
    </footer>
</div>
</body>
</html>